@use "sass:math";
$breakpoint_width: 180px;

@mixin columns-from-base($base) {
  width: math.div($base, 12);

  @for $i from 1 through 12 {
    @media screen and (min-width: ((($i)-1)*$breakpoint_width)) and (max-width: ($i*$breakpoint_width)) {
      & {
        width: math.div($base, $i);
      }
    }
  }
}

@mixin columns-fixed($base) {
  width: $base;

  @for $i from 1 through 12 {
    @media screen and (min-width: ((($i)-1)*$breakpoint_width)) and (max-width: ($i*$breakpoint_width)) {
      & {
        width: $base;
      }
    }
  }
}

.yanyan {
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.yanyan > .yanyan-container {
  display: flex;
  box-sizing: border-box;
  position: relative;
  // z-index: 1;
  width: 100%;

  // SCROLL
  overflow-x: scroll;
  overflow-y: hidden;
  // -webkit-overflow-scrolling: touch;
  // scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  // scroll-snap-type: x mandatory;
}

.yanyan > .yanyan-container > .yanyan-wrapper {
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-wrap: nowrap;
}

.yanyan > .yanyan-container > .yanyan-wrapper > .yanyan-slide {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  // padding: 8px;
  // scroll-snap-align: start start;

  -webkit-user-select: none;
  user-select: none;

  $duration: 0.3s;
  // transition: $duration ease;

  @include columns-from-base(100vw);

  &:focus{
    outline: unset;
  }

  &:focus > div {
    outline: 4px solid rgb(36, 156, 236);
    outline-offset: -4px;
  }
}

.yanyan-debug {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  bottom: 0;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1000;
  padding: 4px;
  display: flex;
  color: grey;
  & > div {
    box-sizing: border-box;
    padding: 4px;
  }
  & > div > span {
    color: #eee;
  }
}

/// MODIFIERS ///
// WRAP
.yanyan.yy--wrap {
  & > .yanyan-container {
    overflow-x: hidden;
    overflow-y: scroll;

    & > .yanyan-wrapper {
      flex-wrap: wrap;

      & > .yanyan-slide {
        &::after {
          display: none;
        }
      }
    }
  }
}

.yanyan.yy--vertical {
  // display: block;

  & > .yanyan-container {
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;

    & > .yanyan-wrapper {
      display: block;

      & > .yanyan-slide {
        width: 100% !important;
      }
    }
  }
}

// SLIDE IN ANIMATION OFF
.yanyan.yy--slide-in-animation-none {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        &::after {
          display: none;
        }
      }
    }
  }
}

// COLUMN BASE 75vw
.yanyan.yy--col-base-75 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-from-base(75vw);
      }
    }
  }
}
.yy--col-base-75-width {
  @include columns-from-base(75vw);
}

// COLUMN BASE 150vw
.yanyan.yy--col-base-150 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-from-base(150vw);
      }
    }
  }
}

// COLUMN BASE 200vw
.yanyan.yy--col-base-200 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-from-base(200vw);
      }
    }
  }
}

// COLUMN BASE 400vw
.yanyan.yy--col-base-400 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-from-base(400vw);
      }
    }
  }
}

// FIXED COLUMNS
.yanyan.yy--col-fixed-100 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-fixed(100vw);
      }
    }
  }
}

.yanyan.yy--col-fixed-50 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-fixed(50vw);
      }
    }
  }
}

.yanyan.yy--col-fixed-25 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-fixed(25vw);
      }
    }
  }
}

.yanyan.yy--col-fixed-20 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-fixed(20vw);
      }
    }
  }
}

.yanyan.yy--col-fixed-12-5 {
  & > .yanyan-container {
    & > .yanyan-wrapper {
      & > .yanyan-slide {
        @include columns-fixed(12.5vw);
      }
    }
  }
}

.yanyan.yy--test {
  // background-color: red;
  // border: 4px solid red;
  // margin: 8px;
  // padding: 8px;

  & > .yanyan-container {
    // border: 4px solid green;
    // margin: 8px;
    // padding: 8px;

    & > .yanyan-wrapper {
      // border: 4px solid blue;
      // margin: 8px;
      // padding: 8px;

      & > .yanyan-slide {
        // margin: 8px;
        border: 4px solid orange;
        padding: 8px;
      }
    }
  }
}

.yy--user-select-off {
  -webkit-user-select: none;
  user-select: none;
}
